<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h2>Esta é a página de Games.</h2>
    <hr>
    {# Comentando com jinja2 #}
    <ul>
        <li>Título: {{titulo}}</li>
        <li>Ano: {{ano}}</li>
        <li>Categoria: {{categoria}}</li>
    </ul>
    <p>O jogo {{titulo}} tem {{2024-ano}} anos.</p>

    <p>Está sendo jogador por:</p>
    <!-- <p>{{jogadores}}</p>-->
    <ol>
        {% for j in jogadores: %}
            <li>{{j}}</li>
        {% endfor %}
    </ol>
</body>
</html>