<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h2>Esta é a página de Games.</h2>
    <hr>
    
    <p><strong>Game mais jogado no momento:</strong></p>
    {% for k, v in games.items() %}
        <details>
            <summary>{{k}}</summary>
            <p>{{v}}</p>
        </details>
    {% endfor %}

    <p>O jogo {{games['Título']}} tem {{2024-games['Ano']}} anos.</p>

    <p><strong>Está sendo jogador por:</strong></p>
    <ol>
        {% for j in jogadores: %}
            <li>{{j}}</li>
        {% endfor %}
    </ol>
    <hr>
    <h4>Entrar no jogo</h4>
    <form action="{{url_for('games')}}", method="POST">
        <label for="jogador">Jogador:</label>
        <input type="text" name="jogador">
        <input type="submit" value="Entrar">
    </form>
</body>
</html>